{% macro queue_tools(pid, status) %}
<div class="d-flex gap-2">
  <form method="post" action="/queue/move/up" style="height: 100%; margin: 0">
    <input type="hidden" name="pid" value="{{ pid }}" />
    <button class="btn btn-secondary" type="submit" {% if status == 'missing' or status == "done" %}disabled{% endif %}>
      <i class="bi bi-chevron-up"></i>
    </button>
  </form>
  <form method="post" action="/queue/move/down" style="height: 100%; margin: 0">
    <input type="hidden" name="pid" value="{{ pid }}" />
    <button class="btn btn-secondary" type="submit" {% if status == 'missing' or status == "done" %}disabled{% endif %}>
      <i class="bi bi-chevron-down"></i>
    </button>
  </form>
  <form method="post" action="/dequeue" style="height: 100%; margin: 0">
    <input type="hidden" name="pid" value="{{ pid }}" />
    <button class="btn btn-danger" type="submit" {% if status == 'missing' or status == "done" %}disabled{% endif %}>
      <i class="bi bi-x"></i>
    </button>
  </form>
  <form method="post" action="/enqueue" style="height: 100%; margin: 0">
    <input type="hidden" name="pid" value="{{ pid }}" />
    <input type="hidden" name="job_type" value="render" />
    <button
      class="btn btn-primary"
      type="submit"
      style="width: 100%"
      disabled
      >
      Render
    </button>
  </form>
  <form method="post" action="/enqueue" style="height: 100%; margin: 0">
    <input type="hidden" name="pid" value="{{ pid }}" />
    <input type="hidden" name="job_type" value="ortho" />
    <button
      class="btn btn-primary"
      type="submit"
      style="width: 100%"
      disabled>
      Orthomosaic
    </button>
  </form>
</div>
{% endmacro %}
